.idea/
.vs/
.vscode/
build/
cmake/open-cpp-coverage.cmake
cmake-build-*/{% if conan %}
conan/{% end %}
prefix/
.DS_Store
CMakeLists.txt.user
CMakeUserPresets.json{% if conan %}
conanbuildinfo.txt
conaninfo.txt
graph_info.json{% end %}
