**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/{% if conan %}
conan/{% end %}
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json{% if conan %}
conan_cache_*.tgz{% end %}{% if lib and not pm %}
env.bat
env.ps1{% end %}
