name: Lint commits

on:
  pull_request_target:
    branches:
    - develop

jobs:
  lint-commits:
    if: github.repository_owner == 'friendlyanon'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Check commits
      uses: actions/github-script@v6
      with:
        script: await require(".github/scripts/lint-commits.js")
          .main(github, core, context)
